<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller LED arrampicata</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <img src="/static/img/logo.png" alt="logo ESA" style="max-height: 50px;">
        <h1>Controllo LED Parete Arrampicata</h1>
    </header>

    <div class="container">
        <div class="control-panel" id="control-panel">
            <button id="all-on">Accendi Tutti</button>
            <button id="all-off">Spegni Tutti</button>
            <input type="color" id="all-color-picker">
            <button id="apply-color">Applica Colore</button>
        </div>

        <img src="/static/img/muro2.png" alt="Immagine" class="photo" id="photo">

        <div class="coordinates" id="coordinates">Coordinate: (x, y)</div>
        <button class="button button1" id="1"></button>
        <button class="button button2" id="2"></button>
        <button class="button button3" id="3"></button>

        <!-- Color Picker -->
        <div class="color-picker" id="color-picker">
            <input type="color" id="color-input">
            <button id="submit-color">Applica</button>
        </div>

        <!-- Modal -->
        <div class="modal" id="modal">
            <button id="on-button">Accendi</button>
            <button id="off-button">Spegni</button>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Elite Sport Academy. Tutti i diritti riservati. Versione beta.</p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>

